/*-------------------- MAIN SECTION ---------------------*/

body {
  background-color: #ddd9;
}

/*-- CARD SECTION --*/
.container {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  background-color: #fff;
  padding: 30px 30px;
  border-radius: 10px;
}

.card {
  transform: scale(0.9);
  transition: transform .2s;
}

.card:hover {
  transform: scale(0.95);
}

.card-container h2 {
  font-weight: bold;
  font-size: 1.3rem;
  text-align: left;
  padding-left: 33px;
  margin-bottom: -30px;
}

.btn {
  background-color: #00833e;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 1.3rem;
  padding: 8px 35px 8px 35px;
}

.btn:hover {
  background-color: #00833e;
}

.terms-card {
  margin-top: 8px;
}

.card-link {
  color: #00833e;
  font-size: 1.1rem;
}
