body {
    background: #c8e6c9;
    font-family: 'Segoe UI', sans-serif;
}

.form-container {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 30px;
    width: 100%;
    margin: auto;
    max-width: 500px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #00833e;
}

@media screen and (max-width: 575.98px) {
    .form-container {
        max-width: 90%; 
        margin-left: 10px; 
        margin-right: 10px; 
        padding: 20px;  
    }
}

/* --------------------- NAVBAR --------------------- */
.navbar {
    background-color: #fff;
    position: sticky !important;
    top: 0;
    z-index: 1550;
    box-shadow: 0px 0px 7px #000;
    width: 100%;
}

/* -------- MENU PC (SCREEN 992PX) ------- */
@media screen and (min-width: 992px) {

    .navbar {
        padding-top: .1rem;
        padding-bottom: .1rem;
        min-height: 70px;
    }

    .navbar .container-fluid {
        padding-top: 0;
        padding-bottom: 0;
    }

    .menu-pc .nav-link {
        padding: 0.3rem 0; /* LESS PADDING UP */
        font-size: 1.1rem;
    }
    
    .menu-pc {
        display: flex !important;
        gap: 1rem;
    }

    .menu-pc, .nav-link {
        color: #000;
        font-weight: 500;
        text-transform: uppercase;
        transition: all 0.3s ease;
        padding: 0.2rem 0;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding-bottom: 2px;
    }

    .menu-pc .nav-link:not(.link--login):hover {
        transform: translateY(-2px);
        border-bottom: 2px solid #2b9141;
    }

    .menu-pc .icon-login {
        font-size: 1rem;
        position: relative;
        top: 0;
    }

    .menu-pc .link--login {
        color: #00833e;
    }

    .menu-pc .link--login:hover {
        transition: all 0.3s ease;
        text-shadow: 0px 0px 16px #00833e;
    }

    .logo {
        height: auto;
        max-height: 90px;
        width: auto;
        cursor: pointer;
    }
}

/* ---------------- MENU MOBILE (OFFCANVAS) ---------------- */
.offcanvas {
    background-color: #00833e;
}

/* HIDDEN MOBILE MENU IN LG */
@media screen and (min-width: 992px) {

    .offcanvas {
        display: none !important;
    }
}

/* STYLES ONLY FOR OFFCANVAS MOBILE */
@media screen and (max-width: 991.98px) {
    .offcanvas .offcanvas-title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .offcanvas .nav-link,
    .offcanvas .offcanvas-title {
        color: #fff;
    }

    .navbar {
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        position: sticky !important;
        z-index: 1550;
        top: 0;
        width: 100%;
    }

    .navbar .container-fluid {
        padding-top: 0;
        padding-bottom: 0;
    }

    .logo {
        height: auto;
        max-height: 90px;
        width: auto;
        cursor: pointer;
    }

    .navbar-toggler {
        padding: 0.25rem 0.5rem; 
    }

    .navbar-toggler-icon {
        width: 1.5em;
        height: 1.5em;
    }
    
    .navbar-nav .nav-link {
        color: #fff;
    }

    .bi {
        color: #fff;
    }

    a {
        text-decoration: none;
    }
}

/*--RESPONSIVE FOR IPHONE 12 PRO--*/
@media screen and (max-width: 420px) {
    .offcanvas-start {
        width: 80vw !important;
        max-width: 330px;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
    }
}

/* --------------------- BURGUER BUTTON --------------------- */
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.offcanvas .btn-close {
    filter: invert(1); 
    opacity: 1;
}

.offcanvas .btn-close:focus {
    outline: none;
    box-shadow: none;
}

/*--LOGIN BUTTON--*/

.btn-login-toggler {
    padding: 0.25rem 0.5rem;
    border: none;
    background: transparent;
}

.btn-login-toggler i {
    font-size: 1.6rem;
    color: #000;
    transition: transform 0.2s ease;
}

.btn-login-toggler:hover i {
    transform: scale(1.1);
    color: #00833e;
}

.login-toggler-icon {
    width: 1.5em;
    height: 1.5em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 13px;
}

/*------------ FOOTER SECTION --------------*/

.footer {
    display: flex;
    justify-content: space-around;
    background-color: #1b1b1b;
    color: #fff;
    font-size: 18px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.footer .container-footer {
    max-width: 1200px;
    margin: auto;
}

.footer .row {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 30px; 
}

.footer-column {
    flex: 1;
    min-width: 200px; 
    margin: 20px;
}

.footer-column h5 {
    margin-bottom: 15px;
    border-bottom: 2px solid green;
    display: inline-block;
    padding-bottom: 5px;
}

.footer-title {
    font-size: 20px;
    display: inline-block;
    font-weight: bold;
    border-bottom: 3px solid #00833e;
    padding-bottom: 6px; 
    margin-bottom: 0.95rem; 
}

.footer-list,
.contact-list {
    padding-left: 0;      
    margin-left: 0;        
    list-style: none;      
}

.footer-item, .fas {
    margin-bottom: .9rem;
}


.footer-link {
    text-decoration: none;
    color: inherit;
    transition: all .3s ease;
}

.footer-link:hover {
    color: #00833e;
}

.footer-icon-social {
    font-size: 20px;
}

.icon-fb:hover {
    color: #48e;
}

.icon-ig:hover {
    color: #e91e63;
}

.icon-ws:hover {
    color: #00833e;
}

.icons-container {
    margin-top: -40px;
}

@media screen and (max-width: 991.98px) {
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer .container-footer {
        padding-left: 0;
    }

    .footer .row {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        margin: 20px 0;
        width: 100%;
    }

    .footer-icons {
        justify-content: center;
    }

    .footer-icons a {
        margin: 0 10px;
    }
}

/* --RESPONSIVE FOR TABLET--*/
@media screen and (max-width: 1024px) {
    
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer .container-footer {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer .row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .footer-column {
        text-align: center;
        margin: 20px 0;
        width: 100%;
        max-width: 400px;
    }

    .footer-icons {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 20px;
    }

    .footer-icons a {
        margin: 0 10px;
    }
}


/* ---------END FOOTER SECTION --------------*/