body {
  background: #c8e6c9;
  font-family: "Segoe UI", sans-serif;
}

.form-container {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 30px;
  width: 100%;
  margin: auto;
  max-width: 500px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #00833e;
}

.btn-success {
  background-color: #00833e;
  border: none;
  font-weight: 600;
  letter-spacing: 0.5px;
  box-shadow: 0 2px 8px rgba(0, 131, 62, 0.08);
  transition: background 0.2s, transform 0.1s;
}

.btn-success:hover, .btn-success:focus {
  background-color: #005e29;
  transform: translateY(-2px) scale(1.03);
}

@media screen and (max-width: 575.98px) {
  .form-container {
    max-width: 90%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
  }
}
