html,
body {
  background-color: #fff;
  max-width: 100dvw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MAIN SECTION */
.section-search-bar {
  max-width: 1300px;
  margin: auto;
  margin-top: 20px;
}

.bar-container {
  width: 350px;
}

.search-bar {
  position: relative;
  border: 2px solid #00833e;
  margin-right: 33px;
  border-radius: 10px;
}

.input-search {
  padding: 10px 20px 7px 16px;
  width: 261px;
  border: none;
  border-radius: 3px;
  background-color: transparent;
}

.input-search:focus {
  outline: none;
}

.btn-search {
  position: absolute;
  top: -1px;
  right: -2px;
  height: 100%;
  border: none;
  background-color: transparent;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0 9px;
  cursor: pointer;
}

.search-icon {
  position: static;
  right: unset;
  top: unset;
  transform: none;
}

.grid-container {
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 298px);
  grid-template-rows: repeat(2, 590px);
  gap: 30px;
  justify-items: stretch;
  justify-content: center;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 0px 2px #ccc;
  overflow: hidden;
}

.figure-item {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-prom {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  vertical-align: middle;
}

.container-prom {
  display: flex;
  flex-direction: column;
  padding: 20px 10px 23px;
  justify-content: space-between;
  flex: 1;
  width: 100%;
}

.title-prom {
  color: #00833e;
  font-weight: bold;
}

.info-product {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.info-prom {
  color: #7e7e7e;
  flex: 1;
  padding-right: 10px;
  text-align: right;
  margin: 0;
}

.price-prom {
  color: #00833e;
  font-weight: bold;
  font-size: 1.4rem;
  padding-left: 10px;
  margin: 0;
  border-left: 2px solid #00833e;
  height: fit-content;
  display: flex;
  align-items: center;
  align-self: center;
}

.buy-container {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-prom {
  outline: none;
  border: none;
  padding: 5px 80px;
  background-color: #00833e;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}

.terms-prom {
  color: #00833e;
}

@media screen and (max-width: 762px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section-search-bar {
    width: 700px;
    margin: auto;
    margin-top: 20px;
  }

  .bar-container {
    width: 100%;
  }
}
