<!DOCTYPE html>
<html lang="es">
    <html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Venta de pollos y platos peruanos">
    <meta name="keywords" content="pollos,pollo a la brasa, bebidas, platos peruanos">
    <!-- Primary Meta Tags -->
<title>Ñorkys - Pollos y Sabor Tradicional</title>
<meta name="title" content="Ñorkys - Pollos y Sabor Tradicional" />
<meta name="description" content="Disfruta del auténtico sabor peruano en Ñorkys. Pide tu pollo a la brasa, revisa nuestra carta online y haz tu pedido para delivery o reserva desde la web." />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://metatags.io/" />
<meta property="og:title" content="Ñorkys - Pollos y Sabor Tradicional" />
<meta property="og:description" content="Disfruta del auténtico sabor peruano en Ñorkys. Pide tu pollo a la brasa, revisa nuestra carta online y haz tu pedido para delivery o reserva desde la web." />
<meta property="og:image" content="img/ñorkys-logo" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://metatags.io/" />
<meta property="twitter:title" content="Ñorkys - Pollos y Sabor Tradicional" />
<meta property="twitter:description" content="Disfruta del auténtico sabor peruano en Ñorkys. Pide tu pollo a la brasa, revisa nuestra carta online y haz tu pedido para delivery o reserva desde la web." />
<meta property="twitter:image" content="img/ñorkys-logo.png" />
    <title>Bienvenidos a Ñorkys - Pollos y platos criollos del Perú</title>
    <link rel="icon" href="img/logo-ñorkys-small.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!---------------- NAV SECTION --------------->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a href="index.html"><img class="logo" src="img/logo.png"></a>

            <!-- LOGIN BUTTON -->
            <div class="d-lg-none d-flex align-items-center ms-auto gap-2">
                <button class="navbar-toggler btn-login-toggler" type="button" onclick="location.href='login.html'">
                    <span class="login-toggler-icon d-flex justify-content-center align-items-center">
                        <i class="fas fa-user"></i>
                    </span>
                </button>
            
                <!-- NAV BUTTON -->
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuLateral">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            
            
            <!-- MENU FOR PC -->
            
            <ul class="navbar-nav d-none d-lg-flex ms-auto menu-pc">
                <li class="nav-item px-3"><a href="#" class="nav-link">CARTA</a></li>
                <li class="nav-item px-3"><a href="#" class="nav-link">PROMOCIONES</a></li>
                <li class="nav-item px-3"><a href="#" class="nav-link">LOCALES</a></li>
                <li class="nav-item px-3">
                    <a href="login.html" class="nav-link link--login">
                        INICIAR SESIÓN
                        <i class="bi bi-person fs-5 icon-login"></i>
                    </a>
                </li>
            </ul>

            <!-- OFF CANVAS MAIN CONTAINER -->
            <section class="offcanvas offcanvas-start" id="menuLateral" tabindex="-1">
                <div class="offcanvas-header">
                        <h5 class="offcanvas-title">MENÚ</h5>
                    <button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="offcanvas"></button>
                </div>
                <!-- OFF CANVAS MENU LINKS START -->
                <div class="offcanvas-body d-flex flex-column justify-content-between px-0">
                    <ul class="navbar-nav justify-content-evenly">
                        <li class="nav-item p-3"><a href="#" class="nav-link">CARTA</a></li>
                        <li class="nav-item p-3"><a href="#" class="nav-link">PROMOCIONES</a></li>
                        <li class="nav-item p-3"><a href="#" class="nav-link">LOCALES</a></li>
                    </ul>
                    <!-- SOCIAL MEDIA LINKS -->

                    <div class="d-lg-none align-self-center py-3">
                        <a href="#"><i class="bi bi-facebook px-2 fs-2"></i>
                        </a>
                        <a href="#"><i class="bi bi-instagram px-2 fs-2"></i>
                        </a>
                        <a href="#"><i class="bi bi-whatsapp px-2 fs-2"></i>
                        </a>
                    </div>
                </div>
            </section>
            <!-- OFFCANVAS MAIN CONTAINER END -->
        </div>
    </nav>
    <!--------------------- END NAV SECTION ----------------------->

    <!----------------- MAIN SECTION ---------------->
    <main>
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="https://s3-rokys-pro.s3.amazonaws.com/media/wysiwyg/1710792531_banner_1200px_x_375px.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="https://s3-rokys-pro.s3.amazonaws.com/media/wysiwyg/1699897692_ROKY_BURGER_HOT_CRUNCH_cabecera_web_-_desktop.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://s3-rokys-pro.s3.amazonaws.com/media/wysiwyg/1691613035_banner-desktop-corner-rokys-nuevo.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="container mt-5 pb-5">
            <div class="card-container row g-4">
                <h2>LOS MAS VENDIDOS</h2>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <img src="https://s3-rokys-pro.s3.amazonaws.com/media/catalog/product/5/c/5cf6e8fb-8e86-447b-969e-1346a46c1cb4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Ñorkys Aventuras</h5>
                            <p class="card-text">
                                1 pollo a la brasa + papas fritas familiares + 1 gaseosa 1.5 lt + ...
                            </p>
                            <a href="#" class="btn btn-primary">COMPRAR</a>
                            <div class="terms-card">
                                <a href="#" class="card-link">Términos y condiciones</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <img src="https://s3-rokys-pro.s3.amazonaws.com/media/catalog/product/5/c/5cf6e8fb-8e86-447b-969e-1346a46c1cb4.jpg" class="card-img-top" alt="#">
                        <div class="card-body">
                            <h5 class="card-title">Ñorkys Aventuras</h5>
                            <p class="card-text">
                                1 pollo a la brasa + papas fritas familiares + 1 gaseosa 1.5 lt + ...
                            </p>
                            <a href="#" class="btn btn-primary">COMPRAR</a>
                            <div class="terms-card">
                                <a href="#" class="card-link">Términos y condiciones</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <img src="https://s3-rokys-pro.s3.amazonaws.com/media/catalog/product/5/c/5cf6e8fb-8e86-447b-969e-1346a46c1cb4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Ñorkys Aventuras</h5>
                            <p class="card-text">
                                1 pollo a la brasa + papas fritas familiares + 1 gaseosa 1.5 lt + ...
                            </p>
                            <a href="#" class="btn btn-primary">COMPRAR</a>
                            <div class="terms-card">
                                <a href="#" class="card-link">Términos y condiciones</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--------------END MAIN SECTION -------------------->

    <!------------- --FOOTER SECTION --------------->
    <footer class="footer pt-5 pb-1">
        <div class="container-footer">
            <div class="row text-center text-md-start">
                <!-- DEFINIENDO LA COLUMNA EN DIFERENTES DISPOSITIVOS -->
                <div class="footer-column col-lg-4 col-xl-2">
                    <h5 class="footer-title text-uppercase">Nosotros</h5>
                    <ul class="footer-list ps-0">
                        <li class="footer-item">
                            <a href="#" class="footer-link">¿Quienes Somos?</a>
                        </li>
                        <li class="footer-item">
                            <a href="#" class="footer-link">Trabaja con nosotros</a>
                        </li>
                        <li class="footer-item">
                            <a href="#" class="footer-link">Locales</a>
                        </li>
                        <li class="footer-item">
                            <a href="#" class="footer-link">Terminos y Condiciones de promociones</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-column col-md-2 col-lg-3 col-xl-2">
                    <h5 class="footer-title text-uppercase font-weight">Legal</h5>
                    <ul class="footer-list ps-0">
                        <li class="footer-item">
                            <a href="#" class="footer-link">Términos y condiciones</a>
                        </li>
                        <li class="footer-item">
                            <a href="#" class="footer-link">Políticas de privacidad</a>
                        </li>
                        <li class="footer-item">
                            <a href="#" class="footer-link">Legales</a>
                        </li>
                        <li class="footer-item">
                            <a href="#" class="footer-link">Razones sociales y RUC</a>
                        </li>
                        <li class="footer-item">
                            <a href="LibroReclamaciones.html" class="footer-link">LIBRO DE RECLAMACIONES</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-column col-md-2 col-lg-3 col-xl-2">
                    <h5 class="footer-title text-uppercase font-weight">Contáctanos</h5>
                    <ul class="footer-list contact-list ps-0">
                        <li class="footer-item mb-2">
                            <i class="fas fa-home me-2"></i> Lima, Perú
                        </li>
                        <li class="footer-item mb-2">
                            <i class="fas fa-envelope me-2"></i> ñorkys@gmail.com
                        </li>
                        <li class="footer-item">
                            <i class="fas fa-phone me-2"></i> +999 888 777
                        </li>
                    </ul>
                </div>
                <hr class="mb-4">
                <div class="text-center mb-2">
                    <p>
                        Copyright Todos los derechos reservados
                        <a href="#" class="footer-link">
                            <strong>Ñorkys</strong>
                        </a>
                    </p>
                </div>
                <div class="icons-container text-center">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a href="#" class="footer-link footer-icon-social icon-fb">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="footer-link footer-icon-social icon-ig">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="footer-link footer-icon-social icon-ws">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!------------------- END FOOTER SECTION ---------------->
    <script src="main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>