<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <!-- Incluir fragmento head con título "Promociones" -->
    <th:block th:replace="fragments/head :: head(title='Promociones')"></th:block>
    <!-- CSS específico para esta página -->
    <link rel="stylesheet" th:href="@{/css/promociones.css}">
</head>
<body>
<!-- Incluir fragmento navbar -->
<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="section-search-bar">
    <div class="bar-container">
        <div class="search-bar">
            <input class="input-search" type="text" placeholder="Buscar productos">
            <button class="btn-search" type="submit"><i class="bi bi-search search-icon"></i>
            </button>
        </div>
    </div>
</div>

<div class="grid-container">
    <div class="grid-item">
        <div class="figure-item">
            <img th:src="@{https://s3-rokys-pro.s3.amazonaws.com/media/catalog/product/s/k/sku_promo_eje___mama_8635deKvPI3X_main_1.jpg}" class="img-prom" alt="Promoción">
        </div>
        <div class="container-prom">
            <div class="product-container">
                <h4 class="title-prom">PROMO EJE MAMÁ</h4>
                <div class="info-product">
                    <p class="info-prom">
                        1 pollo a la brasa + ensalada clásica familiar + 1 porción de torta + arroz oriental + 6 tequeños + gaseosa 1.5 Lt
                    </p>
                    <p class="price-prom">
                        S/99.90
                    </p>
                </div>
            </div>
            <div class="buy-container">
                <div>
                    <button class="button-prom">COMPRAR</button>
                </div>
                <div>
                    <a th:href="@{/about/terms-promotions}" class="terms-prom">Términos y Condiciones</a>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-item">
        <div class="figure-item">
            <img th:src="@{https://s3-rokys-pro.s3.amazonaws.com/media/catalog/product/s/k/sku_promo_eje___mama_8635deKvPI3X_main_1.jpg}" class="img-prom" alt="Promoción">
        </div>
        <div class="container-prom">
            <div class="product-container">
                <h4 class="title-prom">BANQUETE BROASTER</h4>
                <div class="info-product">
                    <p class="info-prom">
                        6 PIEZAS BROASTER + PAPAS FRITAS MEDIANAS + ARROZ ORIENTAL FAMILIAR + GASEOSA DE 1.5L
                    </p>
                    <p class="price-prom">
                        S/54.90
                    </p>
                </div>
            </div>
            <div class="buy-container">
                <div>
                    <button class="button-prom">COMPRAR</button>
                </div>
                <div>
                    <a th:href="@{/about/terms-promotions}" class="terms-prom">Términos y Condiciones</a>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-item">
        <div class="figure-item">
            <img th:src="@{https://s3-rokys-pro.s3.amazonaws.com/media/catalog/product/s/k/sku_promo_eje___mama_8635deKvPI3X_main_1.jpg}" class="img-prom" alt="Promoción">
        </div>
        <div class="container-prom">
            <div class="product-container">
                <h4 class="title-prom">ROKY'S BURGUER CLÁSICA</h4>
                <div class="info-product">
                    <p class="info-prom">
                        1 rokys burguer + papas onduladas
                    </p>
                    <p class="price-prom">
                        S/14.90
                    </p>
                </div>
            </div>
            <div class="buy-container">
                <div>
                    <button class="button-prom">COMPRAR</button>
                </div>
                <div>
                    <a th:href="@{/about/terms-promotions}" class="terms-prom">Términos y Condiciones</a>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-item">
        <div class="figure-item">
            <img th:src="@{https://s3-rokys-pro.s3.amazonaws.com/media/catalog/product/s/k/sku_promo_eje___mama_8635deKvPI3X_main_1.jpg}" class="img-prom" alt="Promoción">
        </div>
        <div class="container-prom">
            <div class="product-container">
                <h4 class="title-prom">MEGAROKYTO</h4>
                <div class="info-product">
                    <p class="info-prom">
                        1 pollo + 1/4 de pollo + papas + ensalada +1 gaseosa de 1.5L
                    </p>
                    <p class="price-prom">
                        S/80.90
                    </p>
                </div>
            </div>
            <div class="buy-container">
                <div>
                    <button class="button-prom">COMPRAR</button>
                </div>
                <div>
                    <a th:href="@{/about/terms-promotions}" class="terms-prom">Términos y Condiciones</a>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-item">
        <div class="figure-item">
            <img th:src="@{https://s3-rokys-pro.s3.amazonaws.com/media/catalog/product/s/k/sku_promo_eje___mama_8635deKvPI3X_main_1.jpg}" class="img-prom" alt="Promoción">
        </div>
        <div class="container-prom">
            <div class="product-container">
                <h4 class="title-prom">PROMO PERSONAL</h4>
                <div class="info-product">
                    <p class="info-prom">
                        1/4 DE POLLO + PAPAS PERSONALES + ENSALADA PERSONAL + GASEOSA
                    </p>
                    <p class="price-prom">
                        S/23.90
                    </p>
                </div>
            </div>
            <div class="buy-container">
                <div>
                    <button class="button-prom">COMPRAR</button>
                </div>
                <div>
                    <a th:href="@{/about/terms-promotions}" class="terms-prom">Términos y Condiciones</a>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-item">
        <div class="figure-item">
            <img th:src="@{https://s3-rokys-pro.s3.amazonaws.com/media/catalog/product/s/k/sku_promo_eje___mama_8635deKvPI3X_main_1.jpg}" class="img-prom" alt="Promoción">
        </div>
        <div class="container-prom">
            <div class="product-container">
                <h4 class="title-prom">PROMO 1/4 BRASA + GASEOSA</h4>
                <div class="info-product">
                    <p class="info-prom">
                        1/4 POLLO A LA BRASA + GASEOSA PERSONAL
                    </p>
                    <p class="price-prom">
                        S/17.90
                    </p>
                </div>
            </div>
            <div class="buy-container">
                <div>
                    <button class="button-prom">COMPRAR</button>
                </div>
                <div>
                    <a th:href="@{https://s3-rokys-pro.s3.amazonaws.com/media/catalog/product/s/k/sku_promo_eje___mama_8635deKvPI3X_main_1.jpg}" class="terms-prom">Términos y Condiciones</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Incluir fragmento footer -->
<footer th:replace="fragments/footer :: footer"></footer>

<!-- Incluir fragmento scripts -->
<th:block th:replace="fragments/head :: scripts"></th:block>

<!-- Script específico para esta página -->
<script th:src="@{/js/promociones.js}"></script>
</body>
</html>
