<!-- src/main/resources/templates/forgot-password.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <th:block th:replace="~{fragments/head :: head(title='Recuperar Contraseña')}"></th:block>
    <link rel="stylesheet" th:href="@{/css/auth-common.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/forgot-password.css}">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="form-container">
    <h3 class="text-center fw-bold mb-4 text-success">Recuperar Contraseña</h3>
    <form th:action="@{/auth/forgot-password}" method="POST">
        <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Ingresa tu correo" required>
        </div>
        <button type="submit" class="btn btn-success w-100 mt-3">Enviar Codigo</button>
    </form>
    <p class="text-center mt-3 mb-0">
        <a th:href="@{/auth/login}" class="text-success fw-semibold">Volver a iniciar sesión</a>
    </p>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
<th:block th:replace="fragments/head :: scripts"></th:block>
</body>
</html>